# Ignore everything in this working tree
*
# Keep only Cloudflare Pages hosting files
!index.html
!.gitignore
!README.md
!functions/
!functions/**

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
